# Exclude all data files and saved models
data/*
segmentation/data_seg/*
segmentation/models_seg/*
segmentation/results_seg/*
classification/data_cla/*
classification/models_cla/*
classification/results_cla/*
