# Exclude all data files and saved models
data/*
segmentation/data_seg/*
segmentation/models_seg/*
segmentation/results_seg/*

*.jpg
classification/models_cla/mlruns/*/
!classification/models_cla/mlruns/models/


