# Exclude all data files and saved models
ngrok.yml
data/*
*.jpg
*.png

classification/models_cla/mlruns/*/
!classification/models_cla/mlruns/models/

segmentation/models_seg/mlruns/*/
!segmentation/models_seg/mlruns/models/


